{% extends 'base.html' %}

{% block content %}

<h4 class="text6">
    <font color="#006064">
        { *>_ }  Classic Code Script docs | creating Telegram, Web bots
    </font>    
</h4>
<br>
<div class="line"></div>
<br>
<h5 class="text7">CCS nima? CCS Code Idea jamoasi tomonidan yaratilgan va telegram, web botlar yozish uchun mo'ljallangan oddiy python script! CCS orqali Pythonda telegram bot yozish imkoniyatiga ega bo'lasiz!</h5>
<h5 class="text7"><a href="#"><font color="#00897B">CCS ni shu havoladan</font></a> yuklab olishingiz va ko'proq ma'lumotga ega bo'lishingiz mumkin.</h5>

{% endblock content %}