{% extends 'base.html' %}

{% block content %}

<h4 class="text6">Code Idea developers Projects</h4>
<div class="line"></div>
<br>
<h4 class="text7">Web sites</h5>
<div class="line"></div>
<br>
<h5 class="text7">Rezume, Vizitka</h4>
<br>
<h4 class="text7">Telegram bots</h4>
<div class="line"></div>
<br>
<h5 class="text7">For Groups > Chat Manager, anti rek...</h5>
<h5 class="text7">Services > Qr Code, Majburiy Obuna...</h5>
<br>
<h4 class="text7">Classic Code Script</h4>
<div class="line"></div>
<br>
<a href="{% url 'ccs' %}">
    <h5 class="text7">
    <font color="#006064">Classic Code Script</font>
</h5>
</a>
{% endblock content %}
