{% extends 'base.html' %}

{% block content %} 
<div class="card-list">
 <h4 id="order" class="text6">Web sites <a href="{% url 'buyurtma' %}"><font color="#006064">Buyurtma</font></a></h4>
  <div class="line"></div>
<br>
<h5 id="text-edit" class="text7">Rezume va vizitka saytlar!</h5>


</div>

<div class="card-list">
<h4 id="order" class="text6">Apps, Android... <a href="{% url 'buyurtma' %}"><font color="#006064">Buyurtma</font></a></h4>
    <div class="line"></div>
    <br>
    <h5 id="text-edit1" class="text7">Shopping, Messenger... ilovalar</h5>

</div>

<!-- <div class="card-list">
    <h4 id="order" class="text6">Web Designs <font color="#006064">Buyurtma</font></h4>
    <div class="line"></div>
    <br>
    <h5 id="text-edit1" class="text7">Modern, Web Designs</h5>


</div> -->

<div class="card-list">
    <h4 id="order" class="text6">Telegram bot <a href="{% url 'buyurtma' %}"><font color="#006064">Buyurtma</font></a></h4>
    <div class="line"></div>
    <br>
    <h5 id="text-edit2" class="text7">Guruhlar uchun, Majburiy obuna, Qr Code, Ma'lumot uchun!</h5>

</div>

<div class="card-list">
    <h4 id="order" class="text6">Web bot <a href="{% url 'buyurtma' %}"><font color="#006064">Buyurtma</font></a></h4>
    <div class="line"></div>
    <br>
    <h5 id="text-edit3" class="text7">Ma'lumot uchun</h5>
</div>

<br><br>

    {% endblock content %} 

